<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Famous Quotes - Admin Section</title>
</head>
<body>
    <h1>Update Author</h1>

    
    <form action="/updateAuthor" method="POST">
        <input type="hidden" value="<%=authorInfo[0].authorId%>" name="id"><br>
        First Name: <input type="text" name="first" value="<%=authorInfo[0].firstName%>"><br>
        Last Name: <input type="text" name="last" value="<%=authorInfo[0].lastName%>"><br>
        Date of Birth <input type="date" name="dob" value="<%=authorInfo[0].ISOdob%>"> <br>
        Date of Death <input type="date" name="dod" value="<%=authorInfo[0].ISOdod%>"> <br>
        Birth Place: <input type="text" name="bp"><br>
        Sex: <label><input type="radio" name="sex" 
            <% if (authorInfo[0].sex == "M") { %>
                checked
            <% } %>
            value="M">Male</label> 
        <label><input type="radio" name="sex" 
            <%=(authorInfo[0].sex=='F')?"checked":"" %>
            value="F">Female</label><br>
        Proffession: <input type="text" name="prof"><br>
        Portiat Url: <input type="text" name="url"><br>
        Biography: <textarea name="bio"><%=authorInfo[0].Biography%></textarea> <br>
        <button>Update Author</button>
    </form>
    <%- include("partials/footer.ejs") %>
</body>
</html>